# Emacs installed stuff

emacs.d.symlink/custom.el
emacs.d.symlink/elpa
emacs.d.symlink/tpanum/loaddefs.el
emacs.d.symlink/backups
emacs.d.symlink/auto-save-list
emacs.d.symlink/url

*.elc

emacs.d.symlink/tpanum/commands/irc.el
emacs.d.symlink/abbrev_defs
emacs.d.symlink/eshell/history
emacs.d.symlink/eshell/lastdir


emacs.d.symlink/.emacs.desktop
emacs.d.symlink/.emacs.desktop.lock
emacs.d.symlink/network-security.data
emacs.d.symlink/session*

# Personal git config
git/gitconfig.symlink

# Nix
nix/hardware-configuration.nix