# Emacs installed stuff

emacs.d.symlink/elpa
emacs.d.symlink/tpanum/loaddefs.el
emacs.d.symlink/backups
emacs.d.symlink/auto-save-list
emacs.d.symlink/url

*.elc

emacs.d.symlink/tpanum/commands/irc.el
emacs.d.symlink/abbrev_defs
emacs.d.symlink/eshell/history
emacs.d.symlink/eshell/lastdir

# Personal git config
git/gitconfig.symlink
