# -*- mode: snippet -*-
# name: beamer-columns
# key: !col
# --

*** Left                                                            :BMCOL:
:PROPERTIES:
:BEAMER_col: 0.5
:END:

*** Right                                                           :BMCOL:
:PROPERTIES:
:BEAMER_col: 0.5
:END: